@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
    font-family: Roboto, Helvetica, Arial, sans-serif;
  }

  body {
    @apply antialiased text-foreground;
    background-color: #ffffff;
    font-family: Roboto, Helvetica, Arial, sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6, p, span, div, button, input, textarea, select {
    font-family: Roboto, Helvetica, Arial, sans-serif;
  }
}

/* Размер шрифта для элементов раскрывающихся списков */
.MuiMenuItem-root {
  font-size: 0.8rem !important;
}